*
  box-sizing border-box
  transition all .1s linear

::selection
  background-color #EC644B
  color #FFF
  font-weight bold

::-webkit-scrollbar
  background #536363
  padding 10px 0
  transition all .2s linear
  width 13px

::-webkit-scrollbar-thumb
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  background #747474
  border-radius 10px
  min-height 50px

::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
  background: #2c2c2c
  border-radius 10px

::-webkit-scrollbar-button
  background-color transparent
  height 4px