@import '../node_modules/nib/lib/nib/index.styl'
@import 'mixins'
@import 'random'

html
body
  background-color #e5ebef
  color #787e81
  fontFamily('Open Sans')
  margin 0
  padding 0
  overflow-x hidden
  min-height 100vh

body
  display flex
  flex-direction column
  flex-wrap wrap
  position relative
  height auto
  justify-content center

.container
  border-radius 2px
  display flex
  flex 1
  flex-direction column
  flex-wrap wrap
  justify-content flex-start
  margin 0 auto
  max-width 650px
  position relative
  height auto
  width 90%
  &.content
    margin-top 100px
  &:before
  &:after
    content ''
    display table

.Menu
  align-items center
  background-color #f8f8f8
  box-shadow 1px 1px 2px 2px #555
  color #b2b2b2
  display flex
  fixed top 0 left 0 right 0
  fontFamily('Roboto Condensed')
  font-size 16px
  height 60px
  justify-content center
  text-align center
  width 100%
  z-index 90
  .container
    position relative
  &-logo
    margin 0 0 0 30px
    padding 0
    text-align left
    max-width 70px
  &-icon
    cursor pointer
    font-size 22px
    height 40px
    text-decoration none
    width 40px
    &--logo
      color #f16d4e
      span
        color #32353e
        font-size 25px
    &--bars
      absolute top 28px right 20px bottom 0
      font-size 30px

.Movies
  display flex
  flex-wrap wrap
  list-style none
  margin 0 auto
  padding 280px 0 100px
  position relative

.Movie
  position relative
  margin 10px 12px
  width calc(50% - 24px)
  width -webkit-calc(50% - 24px)
  width -moz-calc(50% - 24px)
  transition all .3s linear
  &:only-child
    margin 0
    width calc(80% - 24px)
    width -webkit-calc(80% - 24px)
    width -moz-calc(80% - 24px)
    max-width 100%
  &:last-child
    .Movie-avatar
      img
        position relative !important
  &:nth-last-child(2):first-child:hover .Movie-avatar img
    position relative !important
  .Movie-name
    absolute left 0 right 0 bottom 5px
    background-color rgba(white, .85)
    color #787e81
    font-weight bold
    padding 10px 5px
    width 100%
    z-index 3
  .Movie-avatar
    margin 0
    padding 0
    overflow hidden
    width 100%
    img
      border-radius 2px
      position initial
      top 0
      left 0
      width 100%
      z-index 1
      &:hover
        filter grayscale(20%) blur(1px)
        transform scale(1.1)

.dropdown-cont
  background-color #fff
  list-style none
  margin 0
  max-height 650px
  min-width 110px
  opacity 0
  opacity 1
  overflow-y auto
  padding 0
  position absolute
  top -10px
  right 0
  width 70px
  will-change width, height
  z-index 999
  li
    clear both
    color rgba(0, 0, 0, 0.87)
    cursor pointer
    line-height 1.5rem
    min-height 50px
    text-align left
    text-transform uppercase
    width 100%
  li:hover
  li.active
  li.selected
    background-color #eee
  li.active.selected
    background-color #e1e1e1
    font-weight bold
  li.divider
    background-color #ccc
    height 1px
    min-height 0
  li > a,
  li > span
    color #26a69a
    color #f16d4e
    display block
    fontFamily('Roboto Condensed')
    font-size 16px
    line-height 22px
    padding 15px 0
    text-decoration none
  li > span > label
    height 18px
    left 3px
    top 1px
  li > a > i
    height inherit
    line-height inherit

.dropdown-cont
  display none

#menu-bars
  opacity 0
  transition none

#menu-bars:checked
  absolute top -10px right -500px bottom 0
  cursor default
  height 1000vh
  opacity 0
  width 1000vw

#menu-bars:checked ~ .dropdown-cont
#menu-bars:checked + .dropdown-cont
  display block

.modal
  display none

.flag
  background-repeat no-repeat
  background-position center
  background-size 30px
  border-radius 3px
  float left
  margin 14px 5px
  height 19px
  width 25px
  &-es
    background-image url('/images/co.png')
  &-en
    background-image url('/images/us.png')

.SearchForm
  font-size 14px
  font-weight 700
  fontFamily('Open Sans')
  left 10px
  margin 0 auto
  position absolute
  right 10px
  top 90px
  width 90%
  i
    absolute top 28px left 12px

label
  color #979995
  display block
  font-size 12px
  letter-spacing 1px
  text-transform uppercase

input
button
  border 1px solid #ccc
  color #444
  fontFamily('Open Sans')
  font-weight bold
  height 38px
  line-height 1.4
  margin 0
  padding 6px 14px

input
  border-top-left-radius 3px
  border-bottom-left-radius 3px
  cursor text
  padding-left 30px
  width 70%

button
  border-top-right-radius 3px
  border-bottom-right-radius 3px
  cursor pointer
  width 30%
  &.LoadMoreBtn
  &[type='movies']
    absolute bottom 30px left 40% right 40%
    border-radius 1px

.SearchBox
  // background #22A7F0
  background #f16d4e
  background linear-gradient(to right bottom, #f16d4e 55%, #E66545 55%)
  border-radius 3px
  color #fff
  display flex
  align-items center
  fontFamily('Open Sans')
  font-size 20px
  height 70px
  left 5%
  padding 0 10px
  position absolute
  top 180px
  width 90%
  .searchWord
    fontFamily('Dosis')
    text-decoration underline
    padding-left 5px

@media screen and (min-width: 425px) and (max-width: 767px)
  .Movie
    margin 10px auto
    margin-left 9%
    max-width 170px
    width 40%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(2n+2)
      margin-left auto
      margin-right 9%

@media screen and (min-width: 624px) and (max-width: 767px)
  .Movie
    margin-left 12%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(2n-2)
      margin-right 12%
    &:nth-last-child(2)
      margin auto !important

@media screen and (min-width: 768px) and (max-width: 1023px)
  .Movie
    margin 10px auto
    width 30%
    max-width 150px
    &:only-child
      max-width 100%
      padding 0
    &:nth-last-child(2):first-child
      max-width 40%
      width auto
      padding 0
    &:nth-child(3n+1)
      margin-left 5%
    &:nth-child(3n+2)
      margin 10px 0
    &:nth-child(3n+3)
      margin-right 5%

@media screen and (min-width: 1024px)
  .container
    max-width 900px
  .Movie
    margin 15px auto
    max-width 150px
    width 20%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(4n+1)
      margin-left 10%
    &:nth-child(4n+4)
      margin-right 10%
    &:last-child:not(:nth-child(4n+4))
      margin-right 10%
